<div class="session_errors">
  <%= @errors %>
</div>

<div class="session">
  <h1>Please login to your account</h1>
<div class="center">
  <div class="login">
      <%= form_for(:session, url: login_path) do |f| %>
    <div class="field">
      <%= f.email_field :email, :class => "input_field", :placeholder => "Email" %> <br>
    </div>

    <div class="field">
      <%= f.password_field :password, :class => "input_field", :placeholder => "Password"%>
    </div>


  </div>

  <div class="action">
    <%= f.submit "Log in", :class => "submit" %>

    <% end %>

    <%= button_to "Sign up", signup_path, :method => :get, :class => "submit"%>
  </div>

</div>

</div>
